@use '../../../assets/styles/variables.scss' as *;

.slider {
  background: linear-gradient($primary-color, $secondary-color);
  height: 43vh;
  padding: 3rem 0;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 0 8%;
    width: 55%;
  }

  &__text {
    h3 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      text-align: left;
      color: white;
      white-space: pre-line;
    }
  }

  &__button {
    margin-top: 15px;

    a {
      padding: 14px 24px;
      border-radius: 10px;
      background-color: $button-color;
      color: white;
      font-weight: bold;
      font-size: 25px;
      transition: all 0.3s ease;

      &:hover {
        background-color: $button-color-hover;
      }
    }
  }

  &__textarea {
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 10px;
    width: 1000px;
    border: none;
    resize: vertical;
    max-height: 350px;
    min-height: 15vh;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border: 2px solid $primary-color;
    }
  }
}