@use '../variables.scss' as *;

// Общие стили для всех профилей
.account {
  &__main {
    display: flex;
    position: relative;
    height: 100vh;
  }

  &__content {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 95px;
    margin-left: 410px;
    margin-right: 120px;
    width: 100%;
    max-width: 100%;
    height: max-content;
    overflow: hidden;

    >* {
      max-width: 100%;
      box-sizing: border-box;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    &__table-wrapper {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}

.anonym-block {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.1rem;
  margin-left: 5px;
  margin-bottom: 10px;

  input {
    width: 1.1rem;
    height: 1.1rem;
    background-color: $light-color;
  }
}

// Страница профиля пациента
.patient-page {
  display: grid;
  grid-template-columns: 0.8fr 2.2fr;
  margin-right: 110px;
}


// Страницы профиля администратора
.admin-page {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 20px;

  &__title {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 2rem;
  }

  &__message {
    text-align: center;
    font-size: 1.2rem;
    color: green;
  }

  &__error {
    text-align: center;
    font-size: 1.2rem;
    color: red;
  }

  &__table {
    width: auto;
    min-width: 100%;
    white-space: nowrap;

    & thead {
      background-color: $primary-color;
      color: white;
      font-size: 1.3rem;
      font-weight: bolder;

      & th {
        padding: 5px 10px;
      }
    }

    & tbody {
      background-color: $light-color;
      text-align: center;
      font-size: 1.2rem;
      color: $text-color;

      & tr:hover {
        background-color: $light-color-hover;
      }

      & td {
        padding: 10px 13px;
      }
    }

    & .confirm {
      &:hover {
        color: green;
        background-color: rgb(8, 224, 8);
        cursor: pointer;
      }
    }

    & .reject {
      &:hover {
        color: rgb(107, 35, 35);
        background-color: rgb(255, 7, 7);
        cursor: pointer;
      }
    }
  }

  &__comment-cell {
    max-width: 250px;
    cursor: pointer;

    .comment-text {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      color: black;
      text-overflow: ellipsis;
    }
  }

  &__filter-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px 0;

    .tab-btn {
      padding: 0.7rem 1.1rem;
      border: none;
      background: #f5f5f5;
      cursor: pointer;
      border-radius: 6px;
      transition: 0.2s;

      &.active {
        background-color: $primary-color;
        color: white;
      }

      &:hover:not(.active) {
        background: #e9e9e9;
      }
    }
  }

  .image-preview {
    position: fixed;
    z-index: 1000;
    background-color: white;
    padding: 5px;
    border: 1px solid $light-color;
    border-radius: 5px;
    box-shadow: 0 0 10px $shadow-color;

    img {
      width: 130px;
      height: 130px;
    }
  }
}

.tab {
  padding: 10px 15px;
  background-color: $secondary-color;
  border: 1px solid $gray-color;
  border-radius: 10px;
  color: $text-color;
  width: max-content;
  font-size: 1.4rem;
  margin-top: 20px;
}

// Профиль другого пользователя
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: $profile-color;
  border-radius: 10px;
  padding: 2rem 3rem;

  &__avatar {
    min-width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
  }

  &__fio {
    font-size: 1.6em;
    font-weight: bold;
  }

  &__role {
    color: $doctor-color;
    font-size: 1.3rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  // &__make-consultation {
  //   padding: 0.8rem 0.5rem;
  //   font-size: 1.25rem;
  //   border: none;
  //   border-radius: 8px;
  //   background-color: $red-color-light;
  //   color: white;

  //   &:hover {
  //     background-color: $red-color;
  //     cursor: pointer;
  //   }
  // }

  &__main-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
    color: $gray-color;

    .label {
      font-weight: bolder;
      color: black;
    }
  }
}

// Главная страница для пациента
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'main-block main-block'
    'nearest other';
  row-gap: 20px;
  column-gap: 40px;

  &__main-block {
    grid-area: main-block;
    background-color: #E1F7EB;
    color: $text-color;
    padding: 2rem 3rem;
    border-radius: 10px;

    &__title {
      font-size: 1.6rem;
      font-weight: bolder;
      text-align: left;
    }

    &__text {
      font-size: 1.4rem;
      text-align: justify;
    }

    &__button {
      padding: 1rem 3rem;
      border-radius: 8px;
      font-size: 1.3rem;
      color: white;
      font-weight: bold;
      border: none;
      background-color: #4CAF50;
      width: max-content;
      transition: transform 0.3s ease-in-out;

      &:hover {
        background-color: #3a873d;
        cursor: pointer;
        transform: scale(1.01);
      }
    }
  }

  &__nearest {
    grid-area: nearest;
    background-color: #F2E8FF;
    color: $text-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem 2rem;
    min-height: 590px;

    &__title {
      text-align: center;
      font-weight: bold;
      color: black;
      font-size: 1.6rem;
    }

    &__block {
      background-color: white;
      padding: 1rem 1.5rem;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      span {
        color: #9C62F3;
        font-size: 1.4rem;
        font-weight: bold;
      }

      p {
        font-size: 1.2rem;
      }
    }

    &__specialist {
      font-size: 1.4rem;
    }
  }

  &__pagination {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    button {
      padding: 6px 12px;
      font-size: 1.3rem;
      border-radius: 10px;
      border: none;
      background: #9C62F3;
      color: white;
      cursor: pointer;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  &__other {
    grid-area: other;
    background-color: #F2EFDB;
    padding: 10px;
    border-radius: 10px;
  }
}

// Страница с консультациями
.consultations {
  background-color: #F0EDD6;
  padding: 2rem 3rem;
  border-radius: 10px;

  &__title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: black;
    text-align: center;
  }

  &__consultations-now {
    .block {
      background-color: white;
      border-radius: 10px;
      padding: 1rem 1.5rem;
      border: 1px solid black;

      p {
        font-size: 1.25rem;
      }

      h2 {
        text-align: left;
      }
    }
  }

  &__consultations-archive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    h2 {
      text-align: left;
    }

    .block {
      width: 100%;
      box-sizing: border-box;
      background-color: white;
      border-radius: 10px;
      border: 1px solid black;
      padding: 1rem 2rem;

      p {
        font-size: 1.25rem;
      }
    }
  }

  &__archives {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;

    & .consultation-card {
      max-width: 100% !important;
      margin: 0 !important;
    }
  }
}

.icons {
  display: flex;
  gap: 30px;
  margin-top: 20px;

  .icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

// Страница рекомендаций
.recomendations {
  background-color: #E1F7EB;
  padding: 2rem;
  border-radius: 10px;

  &__title {
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 2rem;
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .block {
      border: 1px solid black;
      background-color: white;
      width: 70%;
      border-radius: 10px;
      color: $text-color;
      padding: 1rem 2rem;

      h3 {
        font-size: 1.2rem;
        font-weight: bolder;
        text-align: left;
        color: black;
        margin-bottom: 10px;
      }

      &__info {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

// Страница специалисты
.specialists {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    padding: 5px;
  }

  .profile {
    width: 90%;
    box-sizing: border-box;
    margin: 1rem auto;
  }
}

// Анимации
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(50px);
  }
}

// Модальное окно
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.425);
  z-index: 1000;
  animation: fadeIn 0.3s ease-out forwards;

  &-dialog {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &-content {
    background: $primary-color;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.3s ease-out forwards;
    width: 50%;

    &.closing {
      animation: slideOut 0.3s ease-in forwards;
    }
  }

  &-header {
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h5 {
      margin: 0;
      font-size: 1.6rem;
    }

    button {
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      color: red;

      &:hover {
        color: rgb(184, 18, 18);
      }
    }
  }

  &-body {
    padding: 10px;

    textarea {
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-radius: 10px;
      resize: vertical;
      min-height: 120px;
      font-size: 1.4rem;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 6px $shadow-color;
      }
    }
  }

  &-footer {
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

// Кнопки действий
.btn {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  margin-right: 8px;

  &-success {
    background-color: #28a745;
    margin-bottom: 10px;
    color: white;

    &:hover {
      background-color: #218838;
    }
  }

  &-danger {
    background-color: #dc3545;
    color: white;

    &:hover {
      background-color: #c82333;
    }
  }

  &-secondary {
    background-color: rgb(169, 15, 15);
    color: white;

    &:hover {
      background-color: rgb(124, 11, 11);
    }
  }

  &-primary {
    background-color: $button-color;
    color: white;

    &:hover {
      background-color: $button-color-hover;
    }
  }
}

// Сообщения
.alert {
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 20px;

  &-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }

  &-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
}

.clickable {
  cursor: pointer;
}

.non-clickable {
  cursor: default !important;
  color: $gray-color;
}

.users {
  padding: 20px;
  width: 100%;
  overflow: hidden;

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }

  &__row-blocked {
    background-color: #e7972f !important;
    color: white;

    a {
      color: white;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__row-patient {
    background-color: rgba(57, 137, 187, 0.407);
  }

  &__row-admin {
    background-color: #ac9c245a;
  }

  &__row-doctor {
    background-color: #58b8a543;
  }

  &__table {
    width: 100%;

    &-wrapper {
      width: 100%;
      overflow-x: auto;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    &-head {
      background-color: #f5f5f5;
    }

    &-header {
      padding: 12px 15px;
      text-align: left;
      font-weight: 600;
      position: sticky;
      top: 0;
      background-color: #f5f5f5;
    }

    &-row {
      &:hover {
        background-color: #f9f9f9;
      }
    }

    &-cell {
      padding: 12px 15px;
      text-align: left;
      border-bottom: 1px solid #e0e0e0;
      white-space: nowrap;
    }

    &-fio {
      text-align: left;
    }
  }
}

.userfulinfo {
  &__title {
    font-size: 2rem;
    font-weight: bolder;
    color: black;
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 2rem;
  }

  &__block {
    background-color: #F2E8FF;
    padding: 2rem 3rem;
    border-radius: 20px;
    box-shadow: 0 0 10px $shadow-color;

    &__title {
      font-size: 1.8rem;
      color: #050058;
    }

    &__text {
      color: $gray-color;
      font-size: 1.6rem;
    }
  }

  &__none {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: black;
    background-color: #F2E8FF;
    padding: 2rem 3rem;
    border-radius: 20px;
    box-shadow: 0 0 10px $shadow-color;
  }
}


.another-profile {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
  }
}