@use '../variables.scss' as *;

.usefulinfo {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-block {
        background-color: #F2E8FF;
        border-radius: 10px;
        color: $text-color;
        padding: 1rem 2rem;

        &__title {
            color: black;
            font-size: 2rem;
            font-weight: bolder;
            margin-bottom: 20px;
            text-align: left;
        }

        &__text {
            font-size: 1.6rem;
            white-space: pre-line;
        }
    }
}

.usefulinfo-doctor {
    background-color: $secondary-color;
}

.usefulinfo-patient {
    background-color: $secondary-color;
}