@use "../../../assets/styles/variables.scss" as *;


.user-profile {
  background-color: $profile-color;
  padding: 3rem;
  border-radius: 8px;
  margin: 0 auto;
  width: 90%;
  box-sizing: border-box;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  &__message,
  &__error {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.5s ease;
    margin: 0;
  }

  &__message {
    color: $secondary-color;
  }

  &__error {
    color: red;
  }

  &__role {
    margin: 0;
    font-size: 1.3rem;
    color: $doctor-color;
  }

  &__content {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 60px;
    font-size: 1.2rem;
    width: 100%;
    color: $text-color;
  }

  &__avatar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
  }

  &__links {
    text-align: center;
    color: $primary-color;
    margin-top: 10px;

    p {
      margin: 5px 0;

      &:hover {
        color: $button-color-hover;
        cursor: pointer;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__fio {
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: left;
  }

  &__main-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  &__warn-block,
  &__error-block {
    display: inline-block;
    line-height: 1.5;
    background-color: $light-color;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
    max-width: 840px;

    span {
      display: block;
      width: 100%;
      font-size: 0.9rem;
    }

    a {
      word-break: break-word;
    }
  }

  &__warn-block {
    border-left: solid 5px rgb(255, 145, 0);
  }

  &__error-block {
    border-left: solid 5px red;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}

.form-group {
  margin: 5px 0;

  input {
    width: 100%;
    padding: 8px 10px;
    margin: 3px 0;
    border-radius: 8px;
    background-color: $sidebar-color;
    font-size: 1.1rem;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $light-color;
    }

    &:read-only:hover {
      background-color: $sidebar-color;
      cursor: no-drop;
    }
  }
}

.auth__radio-btn {
  display: flex;
  align-items: center;
  gap: 5px;

  input {
    width: auto;
  }

  label {
    font-size: 1.15rem;
  }
}

.QRcode {
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    padding: 20px;
    width: 400px;
    animation: scaleIn 0.4s ease-out forwards 0.2s;
    text-align: center;

    img {
      width: 100%;
      pointer-events: none;
      border-radius: 20px;
    }
  }

  &__token {
    font-size: 2rem;
    margin: 8px 0;
    color: $primary-color;
    font-weight: bold;
  }

  &__description {
    margin: 0 0 5px 0;
  }

  @keyframes scaleIn {
    from {
      transform: scale(0.95);
      opacity: 0;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}

