@use "../../../assets/styles/variables.scss" as *;


.user-profile {
  background-color: $profile-color;
  padding: 3rem;
  border-radius: 8px;
  margin: 0 auto;
  width: 90%;
  box-sizing: border-box;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 60px;
    font-size: 1.2rem;
    width: 100%;
    color: $text-color;
  }

  // &__message,
  // &__error {
  //   text-align: center;
  //   font-size: 1rem;
  //   font-weight: bold;
  //   transition: all 0.5s ease;
  //   margin: 0;
  // }

  // &__message {
  //   color: $secondary-color;
  // }

  // &__error {
  //   color: red;
  // }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__warns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__warn-block,
  &__error-block {
    display: inline-block;
    line-height: 1.5;
    background-color: $light-color;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
    max-width: 840px;

    span {
      display: block;
      width: 100%;
      font-size: 0.9rem;
    }

    a {
      word-break: break-word;
    }
  }

  &__warn-block {
    border-left: solid 5px rgb(255, 145, 0);
  }

  &__error-block {
    border-left: solid 5px red;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}

.QRcode {
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    padding: 20px;
    width: 400px;
    animation: scaleIn 0.4s ease-out forwards 0.2s;
    text-align: center;

    img {
      width: 100%;
      pointer-events: none;
      border-radius: 20px;
    }
  }

  &__token {
    font-size: 2rem;
    margin: 8px 0;
    color: $primary-color;
    font-weight: bold;
  }

  &__description {
    margin: 0 0 5px 0;
  }

  @keyframes scaleIn {
    from {
      transform: scale(0.95);
      opacity: 0;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}