.rate-modal {
    position: relative;
    background: #266DD3;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;

    &__title {
        font-size: 2rem;
        font-weight: bolder;
        color: white;
        margin-bottom: 10px;
    }

    &__stars {
        margin: 10px 0;
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 2rem;
        color: red;
        border: none;
        background: none;
        transition: all 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
            font-size: 2.3rem;
            top: 13px;
            right: 13px;
        }
    }

    &__star {
        font-size: 2.5rem;
        margin-left: 6px;
        cursor: pointer;
        color: #d3d3d3;
        transition: color 0.2s;

        &--active {
            color: #ffd700;
        }
    }

    &__textarea {
        width: 100%;
        min-height: 120px;
        margin: 10px 0;
        padding: 1rem 2rem;
        border: none;
        border-radius: 8px;
        resize: none;
        font-size: 1.3rem;
        font-family: inherit;
        box-sizing: border-box;

        &:focus {
            outline: none;
        }
    }

    &__button {
        background: #5A96F6;
        color: #fff;
        border: none;
        padding: 8px 14px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.3rem;
    }
}