@use "../../../assets/styles/variables.scss" as *;

.show-error {
    &__error {
        margin-top: 8px;
        color: $red-color;
        font-size: 1.5rem;
        font-weight: bold;
        background: #f8d7da;
        border: 1px solid #f5c2c7;
        padding: 6px 10px;
        border-radius: 6px;
        opacity: 1;
        transition: opacity 1s ease-out;

        &.fade-out {
            opacity: 0;
        }
    }
}