@use '../../../../assets/styles/variables.scss' as *;

.usefulinfo {
    padding: 1rem 2rem;
    margin: 10px;

    &__title {
        font-size: 2rem;
        font-weight: bolder;
    }

    &__none {
        text-align: center;
        font-size: 1.8rem;
        font-weight: bolder;
        color: black;
    }
}