@use '../../../assets/styles/variables.scss' as *;

.sidebar {
  position: fixed;
  box-sizing: border-box;
  margin: 0 1rem;
  padding: 10px 0 10px;

  &__logo {
    a {
      display: block;
    }

    padding: 1rem 0;
    margin-bottom: 1rem;
    width: 100%;
  }

  &__nav {
    height: max-content;
    box-sizing: border-box;
    background-color: $sidebar-color;
    padding: 20px 20px 20px 8px;
    border-left: solid 15px $button-color;
    border-radius: 10px;

    a {
      font-weight: normal;
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      padding: 5px 8px 5px 0;
      text-decoration: none;
      color: black;
      padding: 10px 15px;
      font-size: 1.6rem;
      transition: background-color 0.3s;

      & .active {
        color: black;
        font-weight: bolder;
      }
    }
  }
}