@use '../../../assets/styles/variables.scss' as *;

.sidebar {
  width: 300px;
  padding: 20px;
  position: fixed;

  &__nav {
    height: max-content;
    box-sizing: border-box;
    background-color: $sidebar-color;
    padding: 20px 20px 20px 10px;
    border-left: solid 15px $button-color;
    border-radius: 10px;
  }

  &__logo {
    margin: 30px auto;
  }

  img {
    width: 100%;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__menu-item {
    padding: 5px 8px 5px 0;
    transition: background-color 0.3s;
  }

  &__link {
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    font-size: 1.1rem;

    &:hover {
      color: $primary-color;
    }
  }
}