@use '../../../../assets/styles/variables.scss' as *;

.cancel-modal {
    padding: 2rem 5rem;
    max-width: 800px;
    box-sizing: border-box;

    &__notification {
        text-align: center;
        margin: 20px auto;
        font-size: 1.45rem;
    }

    &__reason {
        textarea {
            width: 100%;
            box-sizing: border-box;
            padding: 1rem;
            color: $gray-color;
            border: none;
            border-radius: 10px;
            font-weight: bold;
            font-size: 1.3rem;
            resize: vertical;

            &:focus {
                outline: none;
                border: 1px solid $button-color-hover;
            }
        }
    }
}