@use "../../../assets/styles/variables.scss" as *;

.doctor-info {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: $profile-color;
    box-sizing: border-box;
    text-align: center;

    &__content {
        margin: 1rem auto;
        padding: 0 1rem;
        box-sizing: border-box;
        display: flex;
        text-align: left;
        flex-direction: column;
        gap: 13px;
        font-size: 1.2rem;
    }
}