@use "../../assets/styles/variables.scss" as *;

.account {
    &-wrapper {
        display: flex;
        min-height: 100vh;
        width: 100%;
        box-sizing: border-box;
    }

    &-main {
        flex: 1;
        margin-left: 250px;
        margin-right: 80px;
        padding: 20px;
    }

    &-blocked {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &-logo {
            width: 400px;
            margin: 20px auto;
            padding-top: 20px;

            img {
                width: 100%;
            }
        }

        &-message {
            font-size: 1.3rem;
            color: green;
        }

        &-error {
            font-size: 1.3rem;
            color: red;
        }

        &-box {
            box-shadow: 0 0 10px $shadow-color;
            max-width: 400px;
            padding: 20px;
            border-radius: 20px;

            &-title {
                text-align: center;
                font-size: $title-size;
                font-weight: bold;
                color: $primary-color;
            }

            &-description {
                text-align: justify;
            }

            &-buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }

            &-button {
                width: 100%;
                padding: 8px 0;
                border: none;
                border-radius: 10px;
                background-color: $button-color;
                color: white;

                &:hover {
                    background-color: $button-color-hover;
                }
            }
        }
    }
}

.left-panel {
    width: 80px;
    background-color: #f8f9fa;
    padding: 20px 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.patient-page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


@media (max-width: 768px) {
    .account {
        &-wrapper {
            flex-direction: column;
        }

        &-main {
            margin-left: 0;
            margin-right: 0;
            padding: 10px;
        }
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding: 10px;
    }

    .left-panel {
        width: 100%;
        height: auto;
        position: relative;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
    }

    .user-profile {
        &__content {
            flex-direction: column;
            align-items: center;
        }

        &__info {
            width: 100%;
        }
    }
}