.auth__form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth__window {
    display: flex;
    box-sizing: border-box;
}

.auth__left {
    width: 50%;
    height: 100vh;
    background: linear-gradient(148.98deg, #6860D9 8.51%, #3325f5 120.39%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__right {
    width: 50%;
    height: 100vh;
}