.header {
    height: 198px;
    width: 100%;
    background-color: #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    width: 91px;
    height: 91px;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-weight: bold;
}

.header__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}