@use '../../../../assets/styles/variables.scss' as *;

.consultations-doctor {
    background-color: $secondary-color;
    padding: 2rem 3rem;

    &__main-title {
        color: black;
        font-weight: bolder;
        font-size: 2rem;
        text-align: left;
    }

    &__title {
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
        color: black;
    }

    &__upcoming,
    &__archive {
        width: 70%;
        margin: 10px auto;
    }

    &__none {
        font-size: 1.8rem;
        font-weight: bolder;
        color: black;
        text-align: center;
    }
}