@use '../../../assets/styles/variables.scss' as *;

.user-profile {
    &__fio {
        font-size: 1.6rem;
        font-weight: bolder;
        text-align: left;
    }

    &__role {
        margin: 0;
        font-size: 1.2rem;
        color: $doctor-color;
        margin: 0.4rem 0;
    }

    &__main-info {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        margin-top: 1rem;
        margin-bottom: 0.8rem;
    }
}