@use '../../../../assets/styles/variables.scss' as *;

.edit-info {
  padding: 0 20px;

  &__tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__tab {
    padding: 8px 16px;
    border: 1px solid black;
    font-size: 1.4rem;
    font-weight: bold;
    background: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;

    &--active {
      background: $primary-color;
      color: #fff;
    }
  }

  &__content {
    font-size: 1.35rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #e6f0fa;
    padding: 1rem 2rem;
    border-radius: 8px;

    input {
      margin-top: 10px;
      border: none;
      border-radius: 10px;
      padding: 1rem 1.5rem;
      font-size: 1.6rem;
    }

    textarea {
      border: none;
      border-radius: 10px;
      min-height: 150px;
      padding: 1rem 1.5rem;
      font-size: 1.5rem;
      margin: 10px 0;
      resize: vertical;
      box-sizing: border-box;
    }
  }

  &__block-problem {
    padding: 0.8rem 2.5rem;
    background-color: $nav-color;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;

    button {
      background-color: $button-color;
      border-radius: 10px;
      color: white;
      border: none;
      padding: 0.6rem 1rem;
    }

    .delete {
      background-color: $red-color;
      margin-left: 10px;
    }
  }

  &__header {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 0;
  }

  &__text {
    font-size: 1.4rem;
    font-weight: 600;
    white-space: pre-line;
  }

  &__btn {
    width: 100% !important;
  }

  &__actions {
    display: flex;
    gap: 20px;
  }

  &__add-btn {
    padding: 12px 20px;
    background-color: $button-color;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 10px;
    transition: background-color 0.2s;

    &:hover {
      background-color: $button-color-hover;
    }
  }
}

// Список проблем и список специализаций
.lists {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  &__item {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    background: $nav-color;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background: $secondary-color;
    }

    input {
      padding: 1rem 1.5rem;
      border-radius: 15px;
      width: 50%;
      text-align: center;
      box-sizing: border-box;

      &:focus {
        outline: none;
        box-shadow: 0 0 10px $shadow-color;
      }
    }
  }

  &__search {
    margin-bottom: 0 !important;
  }

  &__button {
    background-color: $button-color;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 1rem;
    color: white;
    transition: transform 0.2s ease;

    &:hover {
      cursor: pointer;
      transform: translateY(-2px);
    }

    &.btn-delete {
      background-color: $red-color;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}