@use './variables.scss' as *;
@use './normalize.scss';
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body::-webkit-scrollbar {
    width: 10px;
    box-sizing: border-box;
}

body::-webkit-scrollbar-track {
    background: $light-color;
}

body::-webkit-scrollbar-thumb {
    background-color: $button-color;
    border-radius: 20px;
    border: 0.5px solid $primary-color;
}

img {
    pointer-events: none;
}

a {
    font-weight: bold;

    &:hover {
        color: $primary-color;
        cursor: pointer;
    }
}

html {
    scroll-behavior: smooth;
}

.button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 15px;
    background-color: $button-color;
    box-shadow: 0 0 10px $shadow-color;
    margin-bottom: 20px;
    color: white;

    &:hover {
        background-color: $button-color-hover;
    }
}

input {
    box-sizing: border-box;
    border: none;
}

.container {
    display: flex;
    justify-content: center;

    &__box {
        max-width: 1600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.page-container {
    padding: 1rem 2rem;
    border-radius: 15px;

    &__title {
        text-align: left;
        font-size: $title-size;
        font-weight: bolder;
        margin: 2rem 0;
    }
}