// PersonalAccount.scss
@use './variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

a {
    font-weight: bold;

    &:hover {
        color: $primary-color;
        cursor: pointer;
    }
}

html {
    scroll-behavior: smooth;
}

.account {
    &-wrapper {
        display: flex;
        height: 100vh;
        overflow-y: hidden;
    }

    &-main {
        flex-grow: 1;
        padding: 20px;
    }

    &-blocked {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &-logo {
            width: 400px;
            margin: 20px auto;
            padding-top: 20px;
        }

        img {
            width: 100%;
        }

        &-box {
            box-shadow: 0 0 10px $shadow-color;
            max-width: 600px;
            padding: 20px;
            border-radius: 20px;

            &-title {
                text-align: center;
                font-size: $title-size;
                font-weight: bold;
                color: $primary-color;
            }

            &-description {
                text-align: justify;
            }

            &-buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }

            &-button {
                width: 100%;
                padding: 8px 0;
                border: none;
                border-radius: 10px;
                background-color: $button-color;
                color: white;

                &:hover {
                    background-color: $button-color-hover;
                }
            }
        }
    }
}

input {
    box-sizing: border-box;
    border: none;
}

.container {
    display: flex;
    justify-content: center;

    &__box {
        max-width: 1600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}