@use "./variables.scss" as *;

.color-block {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 10%;
  box-sizing: border-box;
  background: linear-gradient($primary-color, $secondary-color);
  overflow-y: hidden;

  &__form {
    background-color: white;
    padding: 40px;
    height: max-content;
    max-width: 50%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px $shadow-color;
  }

  &__logo {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;

    img {
      width: 100%;
    }
  }
}

.auth {
    &__window {
        display: flex;
        box-sizing: border-box;
    }

    &__left {
        width: 50%;
        height: 100vh;
        background: linear-gradient(148.98deg, $primary-color 8.51%, $secondary-color 120.39%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__right {
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        width: 400px;
        
        img {
            width: 100%;
        }
    }

    &__box {
        width: 450px;
        height: 600px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        box-sizing: border-box;
    }
}

.account {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__main {
        display: flex;
        flex: 1;
        position: relative;
    }

    &__content {
        flex: 1;
        box-sizing: border-box;
        padding: 20px;
        margin-top: 95px;
        background-color: $light-color;
    }
}


.patient-page {
    display: grid;
    grid-template-columns: 0.8fr 2.2fr;
    margin-right: 110px;
}


.account-blocked {
  width: 100%;


  &__title {
    text-align: center;
    font-size: $title-size;
    font-weight: bold;
    color: $primary-color;
  }

  &__description {
    text-align: justify;
  }


  &__message {
    font-size: 1.3rem;
    color: green;
  }

  &__error {
    font-size: 1.3rem;
    color: red;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__button {
    width: 100%;
    padding: 8px 0;
    border: none;
    border-radius: 10px;
    background-color: $button-color;
    color: white;

    &:hover {
      background-color: $button-color-hover;
    }
  }
}

.line {
    height: 1px;
    width: 90%;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
}




.admin-page {
    padding: 20px;

    &__table {
        padding: 10px;

        & thead {
            background-color: $primary-color;
            color: white;
            font-size: 1.3rem;
            font-weight: bolder;

            & th {
                padding: 5px 10px;
            }
        }

        & tbody {
            background-color: $light-color;
            text-align: center;
            font-size: 1.2rem;
            color: $text-color;

            & tr:hover {
                background-color: $light-color-hover;
            }

            & td {
                padding: 10px 13px;
            }
        }

        & .comfirm {
            &:hover {
                color: green;
                background-color: rgb(8, 224, 8);
            }
        }

        & .reject {
            &:hover {
                color: rgb(107, 35, 35);
                background-color: rgb(255, 7, 7);
            }
        }
    }
}